*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas:
        "header header"
        "main aside"
    ;
}

header {
    grid-area: header;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: red;
}