*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 204);
}

.content{
    height: 100vh;
    display: grid;
    grid-template-areas: 
                    "header"
                    "main"
                    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
} 

/*menu*/
header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    padding: 10px 22px;
    justify-content: space-between;
}

header img{
    display: flex;
    width: 280px;
    height: auto;
    justify-self: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}
/*cor do nome do menu*/
nav ul li{
    font-weight: bolder;
    font-size: x-large;
}
/*colocar uma cor quando o mouse for em cima do nome*/
a{
    text-decoration: none;
    color: #8a6423;
}
a:hover{
    color: #f1cd43;
}

main{
    grid-area: main;
}

/*SOBRA A PADARIA*/
.Sobre{
    height: auto;
}

.Sobre p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}

.Sobre div p{
    color: #8a6423;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 48px;
    font-size: x-large;
}

/*PRODUTOS*/

.Produtos{
    height: auto;
}

.Produtos p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}

.Produtos img{
    width: 280px;
    height: auto;
    margin: 12px;
    border-radius: 4px;
    box-shadow: #8a6423 0px 5px 15px;
}
/*Salgados*/
.Salgados{
    height: auto;
}

.Salgados p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}

.Salgados img{
    width: 280px;
    height: auto;
    margin: 12px;
    border-radius: 4px;
    box-shadow: #8a6423 0px 5px 15px;
}

/*BOLOS*/

.Bolos{
    height: auto;
}

.Bolos p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}

.Bolos img{
    width: 280px;
    height: auto;
    margin: 12px;
    border-radius: 4px;
    box-shadow: #8a6423 0px 5px 15px;
}

/*ENCOMEDAS*/

.Encomendas{
    height: auto;
}

.Encomendas p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}

.Encomendas img{
    width: 280px;
    height: auto;
    margin: 12px;
    border-radius: 4px;
    box-shadow: #8a6423 0px 5px 15px;
}

/*CONTATOS*/

.Contatos{
    height: auto;
}

.Contatos p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}

/*LOCAL*/

.Local{
    height: auto;
}

.Local p{
    color: #8a6423;
    font-weight: bolder;
    text-align: center;
    margin: 64px;
    padding: 8px 0px;
    font-size: 3rem;
    border-bottom: 3px solid #8a6423;
}


@media only screen and (max-width: 800px) {

    header{
        flex-direction: column;
        padding: 8px 8px;
    }

    nav{
        padding: 0px;
        justify-content: center;
        align-content: center;
    }

    nav ul{
        flex-direction: column;
        text-align: center;
    }

    nav ul li{
        padding: 8px 0px;
    }
    
    nav ul li:first-child{
        padding: 36px 0px 0px 0px;
    }

    .sobre{
        display: inline-table;
        padding: 0px 72px 72px 72px;
    }

    .sobre img{
        width: auto;
        height: auto;
        margin: 24px;
    }
}